<div class="card">
  <div class="card-news">
      <div class="card-img"><img src="../../../assets/covid19.png" alt="virus covid-19"></div>
      <h3>Coronavírus: como a doença é transmitida?</h3>
                  <p class="summary-news">Saiba o que é o coronavíris, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                  <a href="#" id="full-news">Leia mais</a>
  </div>

  <div class="card-news">
      <div class="card-img"><img src="../../../assets/covid19.png" alt="virus covid-19"></div>
      <h3>Coronavírus: como a doença é transmitida?</h3>
                  <p class="summary-news">Saiba o que é o coronavíris, em quanto tempo a doença pode se manifestar e quais são os principais</p>
                  <a href="#" id="full-news">Leia mais</a>
  </div>
</div>
